#navHatter {
    background-color: rgb(255, 120, 0);

}

.navbar-toggler-icon {
    background-image: none;
    font-size: 1.5em;
  }



.kepForgas{
    transition: transform 5s;
}

.kepForgas:hover{
    transform: rotate(360deg);
}


.szovegKozepen {
    position: relative;
    text-align: center;
    color: white;
  }


.kozep {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;


}


.szovegNarancs{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}


.szovegNarancs:hover{
    text-decoration: none;
    color: rgb(255, 120, 0);
}


.szovegNarancs2 {
    color: white;


}



.szovegnarancs{
    color: rgb(255, 120, 0);
}


.szovegNarancs2:hover {
    color: rgb(255, 120, 0);
    text-decoration: underline;
}


.szovegDoboz{
    border: solid 1px rgb(255, 120, 0);
    text-decoration: none;
    color: white;
    background-color: rgb(255, 120, 0);
    font-size: large;
    transition: background-color 1s, color 1s, border-radius 1s;
    
}

.szovegDoboz:hover{
    background-color: transparent;
    color: rgb(255, 120, 0);
    border-radius: 7px;

}

.szovegDoboz2{
    border: solid 1px white;
    text-decoration: none;
    color: white;
    font-size: large;
}



.szovegDoboz2:hover{
    background-color: transparent;
    color: rgb(255, 120, 0);
    border: solid 1px rgb(255, 120, 0);
}


.kartya:hover{
    background-color: rgb(238, 238, 238);
}


.csik{
    border: none;
    opacity: 1;
    height: 3px;
    color:  rgb(255, 120, 0);
    background-color: rgb(255, 120, 0);
    width: 70%;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }


.esportLista{
  list-style: none;
}

.esportLista .esportListElem::before{
    content: "•"; /* Replace default bullet with a solid circle */
    color: rgb(255, 120, 0); /* Change bullet color to red */
    font-size: 2rem;
    margin-right: 0.2em;
    line-height: normal;
}



.line-1{
    position: relative;
    top: 50%;  
    width: 11em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: normal;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 700ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}